@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');
*{
  padding:0;
  margin:0;
  font-family: 'Oswald',Arial, sans-serif;
}
#main-header{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.body-container{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
ul{
  list-style:none;
}
img{
  max-width:100%;
  height:auto;
}

/* nav bar stuff */
#navbar{
  width: 100%;
  max-height: 150px;
  margin-top: 25px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
#jnalogo{
  max-width: 150px;
  max-height: 150px;
}
#vertical-ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#videography{
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 700;
  padding-top: 10px;
}
#photography{
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 5px;
}
#nashville-tn{
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 20px;
}

a{
  text-decoration: none;
}
a:link, a:visited{
  color:#000;
}
a:hover{
  color: #7a7d7d;
}
#navbar h2{
  font-size:28px;
  font-weight: 700;
  align-self: center;
}
#insta-logo{
  max-width: 40px;
  max-height: 40px;
  align-self: center;
}

/* video description stuff */
.video-description h1{
  font-family: Arial;
  font-weight: 700;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.video-description p{
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 0px;
}

/* next and previous stuff */
.next-prev h3{
  font-weight:400;
  font-size: 16px;
}
.next-prev{
  display: inline;
}
.prev{
  float:left;
}
.next{
  float:right;
}

/* margin bottom of page */
.bottom-margin{
  clear:both;
  margin-top:10px;
  margin-bottom: 125px;
}
